
django==3.2.9
python-dotenv
djangorestframework
mysqlclient
django-userforeignkey
markdown
django-filter
#install
django-disposable-email-checker
django-extensions
six
django-q
dj-stripe
stripe
pillow
django-tinymce