{% load static %}
{% load auth_extras %}
<style>
    .link-clicked {
        background: #FFF;
        color: #000000 !important;
    }
    .sidebar-dark .sidebar-brand{
        background : #fff;
    }
</style>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a target="_blank" class="sidebar-brand d-flex align-items-center justify-content-center"
       href="{% url 'product:home' %}">
<!--        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tools"></i>
        </div>-->
        <div class="sidebar-brand-text" style="text-transform: none">
            <img class="img-fluid" src="{% static '/assets/main.png' %}" alt="">
        </div>
    </a>

    <!-- Divider -->
<!--    <hr class="sidebar-divider my-0">-->
    <!-- Nav Item - Orders -->
    {% with request.resolver_match.url_name as url_name %}
        {% if request.user|is_in_group:"customer" and request.user|has_permission:"order.view_request" %}
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'customer_requests' %} link-clicked {% endif %}"
                   href="{% url 'customer:customer_requests' %}?template=request-detaials">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Request</span></a>
            </li>

        {% endif %}
        {% if request.user|is_in_group:"supplier" and request.user|has_permission:"order.view_request" %}
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'supplier_requests' %} link-clicked {% endif %}"
                   href="{% url 'supplier:supplier_requests' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Supplier Requests</span></a>
            </li>

        {% endif %}

        {% if request.user|is_in_group:"moderator" %}
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'moderator_request' %} link-clicked {% endif %}"
                   href="{% url 'supplier:moderator_request' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Moderator Requests</span></a>
            </li>
        {% endif %}

        {% if request.user|is_in_group:"customer" and request.user|has_permission:"order.view_orderinfo" %}
            <li class="nav-item">
                <a class="nav-link {% if url_name == 'customer_orders' %} link-clicked {% endif %}"
                   href="{% url 'customer:customer_orders' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Order</span></a>
            </li>
        {% endif %}
    {% endwith %}


    <!-- Nav Item - Pages Collapse Menu -->
    <!--    <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>-->

</ul>