{% extends 'frontend/base.html' %}

{% block title %} Admin Login {% endblock %}

{% block content %}


<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-6 offset-2">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"> Admin Login</h1>
                                </div>
                                <form class="user" method="post" novalidate>
                                    {% csrf_token %}

                                    {{ form.as_p }}
                                    <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if 'account' in message.message %}
                                    <p class="text-center text-danger">{{ message }}</p>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                </form>
                                <a  href="{% url 'authentication:admin_password_reset' %}"  class="mt-2" >Forget Password</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


{% endblock %}