{% extends 'frontend/base.html' %}

{% load static %}

{% block content %}

<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Admin Reset Password</h2>
    <hr>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Send email</button>
    </form>
</div>


<script src="{% static 'dist/js/app.js' %}"></script>
<script src="{% static 'dist/js/chunk-vendors.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

{% if messages %}
{% for message in messages %}
{% if message.extra_tags == 'success' %}
<script>
    Toast.fire({
        title: '{{message}}',
        icon: 'success'
    });
</script>
{% elif message.extra_tags == 'error' %}
<script>
    Toast.fire({
        text: '{{message}}',
        icon: "error",
    });
</script>
{% endif %}
{% endfor %}
{% endif %}


{% endblock content %}