-- MySQL dump 10.13  Distrib 9.0.1, for Win64 (x86_64)
--
-- Host: localhost    Database: triplechoice
-- ------------------------------------------------------
-- Server version	9.0.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
INSERT INTO `auth_group` VALUES (1,'customer'),(3,'moderator'),(2,'supplier');
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
INSERT INTO `auth_group_permissions` VALUES (5,1,69),(6,1,70),(7,1,71),(8,1,72),(9,1,73),(10,1,74),(11,1,75),(12,1,76),(13,1,77),(14,1,78),(15,1,79),(16,1,80),(17,1,89),(1,1,97),(2,1,98),(3,1,99),(4,1,100),(19,2,72),(20,2,77),(21,2,78),(22,2,79),(23,2,80),(18,2,100),(24,3,72),(25,3,80);
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_user`
--

DROP TABLE IF EXISTS `authentication_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(255) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `company_name` varchar(255) NOT NULL,
  `phone` varchar(25) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `authentication_user_email_2220eff5_uniq` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=116 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_user`
--

LOCK TABLES `authentication_user` WRITE;
/*!40000 ALTER TABLE `authentication_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `authentication_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_user_groups`
--

DROP TABLE IF EXISTS `authentication_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `authentication_user_groups_user_id_group_id_8af031ac_uniq` (`user_id`,`group_id`),
  KEY `authentication_user_groups_group_id_6b5c44b7_fk_auth_group_id` (`group_id`),
  CONSTRAINT `authentication_user__user_id_30868577_fk_authentic` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `authentication_user_groups_group_id_6b5c44b7_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=118 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_user_groups`
--

LOCK TABLES `authentication_user_groups` WRITE;
/*!40000 ALTER TABLE `authentication_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `authentication_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_user_user_permissions`
--

DROP TABLE IF EXISTS `authentication_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `authentication_user_user_user_id_permission_id_ec51b09f_uniq` (`user_id`,`permission_id`),
  KEY `authentication_user__permission_id_ea6be19a_fk_auth_perm` (`permission_id`),
  CONSTRAINT `authentication_user__permission_id_ea6be19a_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `authentication_user__user_id_736ebf7e_fk_authentic` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_user_user_permissions`
--

LOCK TABLES `authentication_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `authentication_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `authentication_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authentication_userprofile`
--

DROP TABLE IF EXISTS `authentication_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authentication_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) DEFAULT NULL,
  `billing_street` varchar(255) DEFAULT NULL,
  `billing_building` varchar(255) DEFAULT NULL,
  `billing_state` varchar(50) DEFAULT NULL,
  `billing_city` varchar(250) DEFAULT NULL,
  `billing_zip_code` varchar(50) DEFAULT NULL,
  `shipping_street` varchar(255) DEFAULT NULL,
  `shipping_building` varchar(255) DEFAULT NULL,
  `shipping_state` varchar(50) DEFAULT NULL,
  `shipping_city` varchar(250) DEFAULT NULL,
  `shipping_zip_code` varchar(50) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `authentication_userp_user_id_83547247_fk_authentic` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authentication_userprofile`
--

LOCK TABLES `authentication_userprofile` WRITE;
/*!40000 ALTER TABLE `authentication_userprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `authentication_userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_authentication_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_authentication_user_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=269 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=190 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_q_ormq`
--

DROP TABLE IF EXISTS `django_q_ormq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_q_ormq` (
  `id` int NOT NULL AUTO_INCREMENT,
  `key` varchar(100) NOT NULL,
  `payload` longtext NOT NULL,
  `lock` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_q_ormq`
--

LOCK TABLES `django_q_ormq` WRITE;
/*!40000 ALTER TABLE `django_q_ormq` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_q_ormq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_q_schedule`
--

DROP TABLE IF EXISTS `django_q_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_q_schedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `func` varchar(256) NOT NULL,
  `hook` varchar(256) DEFAULT NULL,
  `args` longtext,
  `kwargs` longtext,
  `schedule_type` varchar(1) NOT NULL,
  `repeats` int NOT NULL,
  `next_run` datetime(6) DEFAULT NULL,
  `task` varchar(100) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `minutes` smallint unsigned DEFAULT NULL,
  `cron` varchar(100) DEFAULT NULL,
  `cluster` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `django_q_schedule_chk_1` CHECK ((`minutes` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_q_schedule`
--

LOCK TABLES `django_q_schedule` WRITE;
/*!40000 ALTER TABLE `django_q_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_q_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_q_task`
--

DROP TABLE IF EXISTS `django_q_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_q_task` (
  `name` varchar(100) NOT NULL,
  `func` varchar(256) NOT NULL,
  `hook` varchar(256) DEFAULT NULL,
  `args` longtext,
  `kwargs` longtext,
  `result` longtext,
  `started` datetime(6) NOT NULL,
  `stopped` datetime(6) NOT NULL,
  `success` tinyint(1) NOT NULL,
  `id` varchar(32) NOT NULL,
  `group` varchar(100) DEFAULT NULL,
  `attempt_count` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_q_task`
--

LOCK TABLES `django_q_task` WRITE;
/*!40000 ALTER TABLE `django_q_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_q_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_billingaddress`
--

DROP TABLE IF EXISTS `order_billingaddress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_billingaddress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `phone_no` varchar(255) DEFAULT NULL,
  `street_no` varchar(255) NOT NULL,
  `building_no` varchar(255) DEFAULT NULL,
  `state` varchar(255) NOT NULL,
  `city` varchar(255) NOT NULL,
  `zip_code` varchar(20) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_billingaddress_created_by_id_9ee97f4b` (`created_by_id`),
  CONSTRAINT `order_billingaddress_created_by_id_9ee97f4b_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_billingaddress`
--

LOCK TABLES `order_billingaddress` WRITE;
/*!40000 ALTER TABLE `order_billingaddress` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_billingaddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_orderinfo`
--

DROP TABLE IF EXISTS `order_orderinfo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_orderinfo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  `total` decimal(15,2) NOT NULL,
  `tax` decimal(15,2) NOT NULL,
  `payment_method` varchar(10) NOT NULL,
  `billing_address_id` bigint NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `request_id` bigint NOT NULL,
  `shipping_address_id` bigint NOT NULL,
  `order_id` varchar(255) NOT NULL,
  `quantity` double NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `modified_number` int NOT NULL,
  `review_id` bigint DEFAULT NULL,
  `payment_info` json DEFAULT NULL,
  `refund_info` json DEFAULT NULL,
  `tracking_number` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `billing_address_id` (`billing_address_id`),
  UNIQUE KEY `shipping_address_id` (`shipping_address_id`),
  KEY `order_orderinfo_created_by_id_bcccc0bc` (`created_by_id`),
  KEY `order_orderinfo_user_id_ac29fa2b_fk_authentication_user_id` (`user_id`),
  KEY `order_orderinfo_request_id_f8a2e53c` (`request_id`),
  KEY `order_orderinfo_review_id_537e45b6_fk_order_requestreview_id` (`review_id`),
  CONSTRAINT `order_orderinfo_billing_address_id_c7b5963c_fk_order_bil` FOREIGN KEY (`billing_address_id`) REFERENCES `order_billingaddress` (`id`),
  CONSTRAINT `order_orderinfo_created_by_id_bcccc0bc_fk_authentication_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_orderinfo_request_id_f8a2e53c_fk_order_request_id` FOREIGN KEY (`request_id`) REFERENCES `order_request` (`id`),
  CONSTRAINT `order_orderinfo_review_id_537e45b6_fk_order_requestreview_id` FOREIGN KEY (`review_id`) REFERENCES `order_requestreview` (`id`),
  CONSTRAINT `order_orderinfo_shipping_address_id_9d11f526_fk_order_shi` FOREIGN KEY (`shipping_address_id`) REFERENCES `order_shippingaddress` (`id`),
  CONSTRAINT `order_orderinfo_user_id_ac29fa2b_fk_authentication_user_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_orderinfo`
--

LOCK TABLES `order_orderinfo` WRITE;
/*!40000 ALTER TABLE `order_orderinfo` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_orderinfo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_orderinfohistory`
--

DROP TABLE IF EXISTS `order_orderinfohistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_orderinfohistory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `order_id` varchar(255) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  `total` decimal(15,2) NOT NULL,
  `tax` decimal(15,2) NOT NULL,
  `payment_method` varchar(10) NOT NULL,
  `quantity` double NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  `billing_address_id` bigint NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `request_id` bigint NOT NULL,
  `shipping_address_id` bigint NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `modified_number` int NOT NULL,
  `review_id` bigint DEFAULT NULL,
  `payment_info` json DEFAULT NULL,
  `refund_info` json DEFAULT NULL,
  `tracking_number` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `billing_address_id` (`billing_address_id`),
  UNIQUE KEY `shipping_address_id` (`shipping_address_id`),
  KEY `order_orderinfohisto_user_id_e0f1e3d0_fk_authentic` (`user_id`),
  KEY `order_orderinfohistory_created_by_id_b405c871` (`created_by_id`),
  KEY `order_orderinfohistory_request_id_04847343` (`request_id`),
  KEY `order_orderinfohisto_review_id_387b14f9_fk_order_req` (`review_id`),
  CONSTRAINT `order_orderinfohisto_billing_address_id_959fdc2a_fk_order_bil` FOREIGN KEY (`billing_address_id`) REFERENCES `order_billingaddress` (`id`),
  CONSTRAINT `order_orderinfohisto_created_by_id_b405c871_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_orderinfohisto_review_id_387b14f9_fk_order_req` FOREIGN KEY (`review_id`) REFERENCES `order_requestreview` (`id`),
  CONSTRAINT `order_orderinfohisto_shipping_address_id_51715d0f_fk_order_shi` FOREIGN KEY (`shipping_address_id`) REFERENCES `order_shippingaddress` (`id`),
  CONSTRAINT `order_orderinfohisto_user_id_e0f1e3d0_fk_authentic` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_orderinfohistory_request_id_04847343_fk_order_request_id` FOREIGN KEY (`request_id`) REFERENCES `order_request` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_orderinfohistory`
--

LOCK TABLES `order_orderinfohistory` WRITE;
/*!40000 ALTER TABLE `order_orderinfohistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_orderinfohistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_request`
--

DROP TABLE IF EXISTS `order_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_request` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `order_id` varchar(255) NOT NULL,
  `answer` json NOT NULL,
  `quantity` int unsigned NOT NULL,
  `type` varchar(10) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `part_id` bigint DEFAULT NULL,
  `comment` varchar(1000) DEFAULT NULL,
  `contact_info` json NOT NULL DEFAULT (_utf8mb3'{}'),
  `user_id` bigint DEFAULT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `modified_number` int NOT NULL,
  `cost` double DEFAULT NULL,
  `lead_time` varchar(255) DEFAULT NULL,
  `is_estimated` tinyint(1) DEFAULT NULL,
  `ref_request` varchar(255) NOT NULL,
  `review_id` int DEFAULT NULL,
  `admin_status` varchar(50) DEFAULT NULL,
  `customer_status` varchar(50) DEFAULT NULL,
  `supplier_status` varchar(50) DEFAULT NULL,
  `moderator_status` varchar(50) DEFAULT NULL,
  `zip_code` varchar(50) NOT NULL,
  `image_comment` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_request_order_id_be39b2a9_uniq` (`order_id`),
  KEY `order_order_created_by_id_5d2a1dcd` (`created_by_id`),
  KEY `order_order_user_id_7cf9bc2b_fk_authentication_user_id` (`user_id`),
  KEY `order_order_part_id_60b95b56_fk_product_part_id` (`part_id`),
  CONSTRAINT `order_order_created_by_id_5d2a1dcd_fk_authentication_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_order_part_id_60b95b56_fk_product_part_id` FOREIGN KEY (`part_id`) REFERENCES `product_part` (`id`),
  CONSTRAINT `order_order_user_id_7cf9bc2b_fk_authentication_user_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_request_quantity_acf6119c_check` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_request`
--

LOCK TABLES `order_request` WRITE;
/*!40000 ALTER TABLE `order_request` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_requesthistory`
--

DROP TABLE IF EXISTS `order_requesthistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_requesthistory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `answer` json NOT NULL,
  `comment` varchar(1000) DEFAULT NULL,
  `contact_info` json NOT NULL,
  `quantity` int unsigned NOT NULL,
  `type` varchar(10) NOT NULL,
  `order_id` varchar(255) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `part_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `modified_number` int NOT NULL,
  `cost` double DEFAULT NULL,
  `lead_time` varchar(255) DEFAULT NULL,
  `is_estimated` tinyint(1) DEFAULT NULL,
  `ref_request` varchar(255) NOT NULL,
  `review_id` int DEFAULT NULL,
  `admin_status` varchar(50) DEFAULT NULL,
  `customer_status` varchar(50) DEFAULT NULL,
  `supplier_status` varchar(50) DEFAULT NULL,
  `moderator_status` varchar(50) DEFAULT NULL,
  `zip_code` varchar(50) NOT NULL,
  `image_comment` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_requesthistory_part_id_93bc1cea_fk_product_part_id` (`part_id`),
  KEY `order_requesthistory_user_id_72d1efce_fk_authentication_user_id` (`user_id`),
  KEY `order_requesthistory_created_by_id_ff091094` (`created_by_id`),
  CONSTRAINT `order_requesthistory_created_by_id_ff091094_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_requesthistory_part_id_93bc1cea_fk_product_part_id` FOREIGN KEY (`part_id`) REFERENCES `product_part` (`id`),
  CONSTRAINT `order_requesthistory_user_id_72d1efce_fk_authentication_user_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_requesthistory_quantity_e1c5a243_check` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_requesthistory`
--

LOCK TABLES `order_requesthistory` WRITE;
/*!40000 ALTER TABLE `order_requesthistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_requesthistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_requestreview`
--

DROP TABLE IF EXISTS `order_requestreview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_requestreview` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `request_id` bigint NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` longtext,
  `created_by_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  `cost` double DEFAULT NULL,
  `lead_time` double DEFAULT NULL,
  `quantity` int unsigned NOT NULL,
  `unit` varchar(255) NOT NULL,
  `supplier_cost` double NOT NULL,
  `supplier_lead_time` double NOT NULL,
  `supplier_unit` varchar(255) NOT NULL,
  `cost_unit` varchar(10) NOT NULL,
  `supplier_cost_unit` varchar(10) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `order_requestreview_created_by_id_8cd4b9cd` (`created_by_id`),
  KEY `order_requestreview_order_id_id_1424cecc` (`request_id`),
  KEY `order_requestreview_user_id_82105d03_fk_authentication_user_id` (`user_id`),
  CONSTRAINT `order_requestreview_created_by_id_8cd4b9cd_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_requestreview_request_id_07c4d7a6_fk_order_request_id` FOREIGN KEY (`request_id`) REFERENCES `order_request` (`id`),
  CONSTRAINT `order_requestreview_user_id_82105d03_fk_authentication_user_id` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `cost_gt_0` CHECK ((`cost` > 0.0e0)),
  CONSTRAINT `lead_time_gt_0` CHECK ((`lead_time` > 0.0e0)),
  CONSTRAINT `order_requestreview_quantity_3013b73a_check` CHECK ((`quantity` >= 0)),
  CONSTRAINT `supplier_cost_gt_0` CHECK ((`supplier_cost` > 0.0e0)),
  CONSTRAINT `supplier_lead_time_gt_0` CHECK ((`supplier_lead_time` > 0.0e0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_requestreview`
--

LOCK TABLES `order_requestreview` WRITE;
/*!40000 ALTER TABLE `order_requestreview` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_requestreview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_requstreviewattachment`
--

DROP TABLE IF EXISTS `order_requstreviewattachment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_requstreviewattachment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `file` varchar(100) NOT NULL,
  `request_review_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `order_requstreviewat_request_review_id_abe06c2b_fk_order_req` (`request_review_id`),
  CONSTRAINT `order_requstreviewat_request_review_id_abe06c2b_fk_order_req` FOREIGN KEY (`request_review_id`) REFERENCES `order_requestreview` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_requstreviewattachment`
--

LOCK TABLES `order_requstreviewattachment` WRITE;
/*!40000 ALTER TABLE `order_requstreviewattachment` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_requstreviewattachment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_selectedrequestreview`
--

DROP TABLE IF EXISTS `order_selectedrequestreview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_selectedrequestreview` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `request_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `order_selectedreques_request_id_baab9643_fk_order_req` (`request_id`),
  KEY `order_selectedrequestreview_created_by_id_c92ebfde` (`created_by_id`),
  CONSTRAINT `order_selectedreques_created_by_id_c92ebfde_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `order_selectedreques_request_id_baab9643_fk_order_req` FOREIGN KEY (`request_id`) REFERENCES `order_request` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_selectedrequestreview`
--

LOCK TABLES `order_selectedrequestreview` WRITE;
/*!40000 ALTER TABLE `order_selectedrequestreview` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_selectedrequestreview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_selectedrequestreview_review`
--

DROP TABLE IF EXISTS `order_selectedrequestreview_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_selectedrequestreview_review` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `selectedrequestreview_id` bigint NOT NULL,
  `requestreview_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_selectedrequestrev_selectedrequestreview_id_6060b8cd_uniq` (`selectedrequestreview_id`,`requestreview_id`),
  KEY `order_selectedreques_requestreview_id_7fbc7098_fk_order_req` (`requestreview_id`),
  CONSTRAINT `order_selectedreques_requestreview_id_7fbc7098_fk_order_req` FOREIGN KEY (`requestreview_id`) REFERENCES `order_requestreview` (`id`),
  CONSTRAINT `order_selectedreques_selectedrequestrevie_c6dcaea6_fk_order_sel` FOREIGN KEY (`selectedrequestreview_id`) REFERENCES `order_selectedrequestreview` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_selectedrequestreview_review`
--

LOCK TABLES `order_selectedrequestreview_review` WRITE;
/*!40000 ALTER TABLE `order_selectedrequestreview_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_selectedrequestreview_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_shippingaddress`
--

DROP TABLE IF EXISTS `order_shippingaddress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_shippingaddress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `phone_no` varchar(255) DEFAULT NULL,
  `street_no` varchar(255) NOT NULL,
  `building_no` varchar(255) DEFAULT NULL,
  `state` varchar(255) NOT NULL,
  `city` varchar(255) NOT NULL,
  `zip_code` varchar(20) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_shippingaddress_created_by_id_679b522b` (`created_by_id`),
  CONSTRAINT `order_shippingaddres_created_by_id_679b522b_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_shippingaddress`
--

LOCK TABLES `order_shippingaddress` WRITE;
/*!40000 ALTER TABLE `order_shippingaddress` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_shippingaddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `page_page`
--

DROP TABLE IF EXISTS `page_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `page_page` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `slug` varchar(50) NOT NULL,
  `description` longtext NOT NULL,
  PRIMARY KEY (`id`),
  KEY `page_page_slug_d6b7c8ed` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `page_page`
--

LOCK TABLES `page_page` WRITE;
/*!40000 ALTER TABLE `page_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `page_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `page_pageseo`
--

DROP TABLE IF EXISTS `page_pageseo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `page_pageseo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `page_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `page_pageseo_page_id_fe98058a_fk_page_page_id` (`page_id`),
  CONSTRAINT `page_pageseo_page_id_fe98058a_fk_page_page_id` FOREIGN KEY (`page_id`) REFERENCES `page_page` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `page_pageseo`
--

LOCK TABLES `page_pageseo` WRITE;
/*!40000 ALTER TABLE `page_pageseo` DISABLE KEYS */;
INSERT INTO `page_pageseo` VALUES (1,'title','this will be meta title',1),(2,'description','this will be meta description',1),(3,'title','this will be meta title',2),(4,'description','this will be meta description',2);
/*!40000 ALTER TABLE `page_pageseo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_attribute`
--

DROP TABLE IF EXISTS `product_attribute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_attribute` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `type` varchar(255) NOT NULL,
  `classification_id` bigint NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `options` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `product_attribute_classification_id_7081df62_fk_product_c` (`classification_id`),
  KEY `product_attribute_created_by_id_6b0741b1` (`created_by_id`),
  CONSTRAINT `product_attribute_classification_id_7081df62_fk_product_c` FOREIGN KEY (`classification_id`) REFERENCES `product_classification` (`id`),
  CONSTRAINT `product_attribute_created_by_id_6b0741b1_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_attribute`
--

LOCK TABLES `product_attribute` WRITE;
/*!40000 ALTER TABLE `product_attribute` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_attribute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_attribute_unit`
--

DROP TABLE IF EXISTS `product_attribute_unit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_attribute_unit` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `attribute_id` bigint NOT NULL,
  `unit_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `product_attribute_unit_attribute_id_unit_id_05fc363b_uniq` (`attribute_id`,`unit_id`),
  KEY `product_attribute_unit_unit_id_80ac007e_fk_utils_unit_id` (`unit_id`),
  CONSTRAINT `product_attribute_un_attribute_id_044bc54e_fk_product_a` FOREIGN KEY (`attribute_id`) REFERENCES `product_attribute` (`id`),
  CONSTRAINT `product_attribute_unit_unit_id_80ac007e_fk_utils_unit_id` FOREIGN KEY (`unit_id`) REFERENCES `utils_unit` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=154 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_attribute_unit`
--

LOCK TABLES `product_attribute_unit` WRITE;
/*!40000 ALTER TABLE `product_attribute_unit` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_attribute_unit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_classification`
--

DROP TABLE IF EXISTS `product_classification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_classification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` longtext,
  `created_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `product_classification_title_b2f6f751_uniq` (`title`),
  KEY `product_classification_created_by_id_259adbd3` (`created_by_id`),
  CONSTRAINT `product_classificati_created_by_id_259adbd3_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_classification`
--

LOCK TABLES `product_classification` WRITE;
/*!40000 ALTER TABLE `product_classification` DISABLE KEYS */;
INSERT INTO `product_classification` VALUES (1,'2022-05-11 06:15:21.725312','2022-10-23 21:58:53.007177','Mechanical Specification','',NULL),(2,'2022-05-27 04:40:50.864425','2022-10-16 22:18:21.457812','Electrical Specification','',NULL),(3,'2022-05-27 05:00:47.764698','2022-05-27 05:00:47.764746','Preference','',NULL),(4,'2022-10-21 04:23:34.714931','2022-11-02 14:40:43.348579','My Part (upload files in next secrion)','',NULL);
/*!40000 ALTER TABLE `product_classification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_part`
--

DROP TABLE IF EXISTS `product_part`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_part` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `slug` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `product_part_created_by_id_c62d6fba` (`created_by_id`),
  CONSTRAINT `product_part_created_by_id_c62d6fba_fk_authentication_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_part`
--

LOCK TABLES `product_part` WRITE;
/*!40000 ALTER TABLE `product_part` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_part` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_partclassification`
--

DROP TABLE IF EXISTS `product_partclassification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_partclassification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `is_optional` varchar(255) NOT NULL,
  `classification_id` bigint NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `part_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `product_partclassifi_classification_id_6297fe0e_fk_product_c` (`classification_id`),
  KEY `product_partclassification_part_id_13ee0ccf_fk_product_part_id` (`part_id`),
  KEY `product_partclassification_created_by_id_d04f0dfc` (`created_by_id`),
  CONSTRAINT `product_partclassifi_classification_id_6297fe0e_fk_product_c` FOREIGN KEY (`classification_id`) REFERENCES `product_classification` (`id`),
  CONSTRAINT `product_partclassifi_created_by_id_d04f0dfc_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `product_partclassification_part_id_13ee0ccf_fk_product_part_id` FOREIGN KEY (`part_id`) REFERENCES `product_part` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=193 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_partclassification`
--

LOCK TABLES `product_partclassification` WRITE;
/*!40000 ALTER TABLE `product_partclassification` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_partclassification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_partclassificationattribute`
--

DROP TABLE IF EXISTS `product_partclassificationattribute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_partclassificationattribute` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `attribute_id` bigint NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `part_classification_id` bigint NOT NULL,
  `is_optional` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `product_partclassifi_attribute_id_d2d363c4_fk_product_a` (`attribute_id`),
  KEY `product_partclassifi_part_classification__3ecae74f_fk_product_p` (`part_classification_id`),
  KEY `product_partclassificationattribute_created_by_id_ae2bbd7e` (`created_by_id`),
  CONSTRAINT `product_partclassifi_attribute_id_d2d363c4_fk_product_a` FOREIGN KEY (`attribute_id`) REFERENCES `product_attribute` (`id`),
  CONSTRAINT `product_partclassifi_created_by_id_ae2bbd7e_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `product_partclassifi_part_classification__3ecae74f_fk_product_p` FOREIGN KEY (`part_classification_id`) REFERENCES `product_partclassification` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=709 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_partclassificationattribute`
--

LOCK TABLES `product_partclassificationattribute` WRITE;
/*!40000 ALTER TABLE `product_partclassificationattribute` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_partclassificationattribute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_partsupplier`
--

DROP TABLE IF EXISTS `product_partsupplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_partsupplier` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  `part_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `product_partsupplier_part_id_b32000ca_fk_product_part_id` (`part_id`),
  KEY `product_partsupplier_created_by_id_3baa767f` (`created_by_id`),
  CONSTRAINT `product_partsupplier_created_by_id_3baa767f_fk_authentic` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`),
  CONSTRAINT `product_partsupplier_part_id_b32000ca_fk_product_part_id` FOREIGN KEY (`part_id`) REFERENCES `product_part` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_partsupplier`
--

LOCK TABLES `product_partsupplier` WRITE;
/*!40000 ALTER TABLE `product_partsupplier` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_partsupplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_partsupplier_supplier`
--

DROP TABLE IF EXISTS `product_partsupplier_supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_partsupplier_supplier` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `partsupplier_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `product_partsupplier_sup_partsupplier_id_user_id_c5c205c7_uniq` (`partsupplier_id`,`user_id`),
  KEY `product_partsupplier_user_id_b8cd8759_fk_authentic` (`user_id`),
  CONSTRAINT `product_partsupplier_partsupplier_id_eda33369_fk_product_p` FOREIGN KEY (`partsupplier_id`) REFERENCES `product_partsupplier` (`id`),
  CONSTRAINT `product_partsupplier_user_id_b8cd8759_fk_authentic` FOREIGN KEY (`user_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_partsupplier_supplier`
--

LOCK TABLES `product_partsupplier_supplier` WRITE;
/*!40000 ALTER TABLE `product_partsupplier_supplier` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_partsupplier_supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pump_data`
--

DROP TABLE IF EXISTS `pump_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pump_data` (
  `PumpModel` varchar(255) NOT NULL,
  `Price` varchar(255) DEFAULT NULL,
  `Link` varchar(255) DEFAULT NULL,
  `ImageLink` varchar(255) DEFAULT NULL,
  `Qmin` decimal(10,2) DEFAULT NULL,
  `Qmax` decimal(10,2) DEFAULT NULL,
  `CurveData` json DEFAULT NULL,
  PRIMARY KEY (`PumpModel`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pump_data`
--

LOCK TABLES `pump_data` WRITE;
/*!40000 ALTER TABLE `pump_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `pump_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pumpcurvedata`
--

DROP TABLE IF EXISTS `pumpcurvedata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pumpcurvedata` (
  `id` int NOT NULL AUTO_INCREMENT,
  `PumpModel` varchar(255) DEFAULT NULL,
  `Q` decimal(10,2) DEFAULT NULL,
  `H` decimal(10,2) DEFAULT NULL,
  `P2` decimal(10,2) DEFAULT NULL,
  `P1` decimal(10,2) DEFAULT NULL,
  `Eta2` decimal(10,2) DEFAULT NULL,
  `Eta1` decimal(10,2) DEFAULT NULL,
  `NPSH` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `PumpModel` (`PumpModel`),
  CONSTRAINT `pumpcurvedata_ibfk_1` FOREIGN KEY (`PumpModel`) REFERENCES `pumpdata` (`PumpModel`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pumpcurvedata`
--

LOCK TABLES `pumpcurvedata` WRITE;
/*!40000 ALTER TABLE `pumpcurvedata` DISABLE KEYS */;
/*!40000 ALTER TABLE `pumpcurvedata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pumpdata`
--

DROP TABLE IF EXISTS `pumpdata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pumpdata` (
  `PumpModel` varchar(255) NOT NULL,
  `Price` decimal(10,2) DEFAULT NULL,
  `Link` text,
  `ImageLink` text,
  `Qmin` decimal(10,2) DEFAULT NULL,
  `Qmax` decimal(10,2) DEFAULT NULL,
  `CurveData` json DEFAULT NULL,
  PRIMARY KEY (`PumpModel`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pumpdata`
--

LOCK TABLES `pumpdata` WRITE;
/*!40000 ALTER TABLE `pumpdata` DISABLE KEYS */;
/*!40000 ALTER TABLE `pumpdata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utils_unit`
--

DROP TABLE IF EXISTS `utils_unit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utils_unit` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `title` varchar(50) NOT NULL,
  `description` longtext,
  `created_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `utils_unit_created_by_id_eb62b37a` (`created_by_id`),
  CONSTRAINT `utils_unit_created_by_id_eb62b37a_fk_authentication_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `authentication_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utils_unit`
--

LOCK TABLES `utils_unit` WRITE;
/*!40000 ALTER TABLE `utils_unit` DISABLE KEYS */;
/*!40000 ALTER TABLE `utils_unit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `website`
--

DROP TABLE IF EXISTS `website`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `website` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(120) NOT NULL,
  `contact_number` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `website`
--

LOCK TABLES `website` WRITE;
/*!40000 ALTER TABLE `website` DISABLE KEYS */;
INSERT INTO `website` VALUES (1,'Triple Choice','(650) 620-0190');
/*!40000 ALTER TABLE `website` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-10-08 22:11:09
