<div class="footer d-flex align-items-center">
    <div class="container-fluid h-100">
        <div class="align-items-center d-flex flex-column flex-sm-row h-100 justify-content-between">
            <div class="menu-item">
                <div class="d-flex flex-column">
                    <div class="d-flex gap-3">
                        <a href="/">Home</a>
                        <a href="/about">About</a>
                        <a href="/contact">Contact</a>
                    </div>
                    <!--                    <p class="fw-600 text-primary m-0">Call or Text: <span class="text-secondary">833-883-0123</span></p>-->
                </div>
            </div>

            <div class="copyright mt-3 mt-sm-0 text-center">
                <p class="m-0">&copy; 2017 - 2018 TripleChoice. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>