{% extends 'dashboard/base.html' %}
{% load static %}
{% load auth_extras %}


{% block content %}
    <div class="row">
        <div class="float-end m-2"><a href="/supplier/requests" class="btn btn-primary"> Back </a></div>
        <div class="col-10">
            <div class="card mb-2">
                <div class="card-header bg-primary text-white">
                    <strong>Request No : </strong> {{ request_info.order_id }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ul class="list-group mt-2">
                                <li class="list-group-item bg-primary text-white">Request Info</li>
                                <li class="list-group-item"><span class="fw-bold">Part title :</span> <span
                                        class="">{{ request_info.part.title }}</span></li>
                                <li class="list-group-item"><span class="fw-bold">Quantity :</span> <span
                                        class="">{{ request_info.quantity }}</span></li>
                                <li class="list-group-item"><span class="fw-bold">Status :</span> <span
                                        class="">{{ request_info.get_supplier_status_display }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <a href="{% url 'order:request.review.create' request_id=request_id %}"
                       class="btn btn-success float-end"><i class="fa fa-plus"></i></a>
            </div>
            <div id="app">
                {% csrf_token %}
                <dynamic-table url='/api/supplier/review?request_id={{ request_id }}' request-id="{{ request_id }}"
                               has-param="true" table-name="" has-actions="true" is_attachment_delete="true">
                    <template slot="actions" slot-scope="slotProps">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item btn btn-success"
                                       :href="`/request/review/${[[slotProps.row.id]]}/edit`">
                                    Edit
                                </a></li>
                                <li><a class="dropdown-item btn btn-danger"
                                       :href="`/request/review/${[[slotProps.row.id]]}/delete`"
                                       onclick='return confirm("Are you sure you want to do this?")'
                                       title="Delete">
                                    Delete
                                </a></li>
                            </ul>
                        </div>
                    </template>
                </dynamic-table>

            </div>
        </div>
    </div>


{% endblock %}